.home-split-hor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  justify-items: center;
  /* width: 100%; */
  /* max-width: var(--nav-max-width); */
}

.home-split-ver {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: stretch;
  /* padding-top: 25rem; */
  /* width: 100%; */
  /* max-width: var(--nav-max-width); */
}